section.discounts.cf
    .container
        .discounts__wrapper
            .discounts__box-img
                img(src="./wp-content/themes/factory_windows/assets/img/discounts.jpg", alt="окна")
            .discounts__filling 
                h2 Рекордная скидка 65%
                h3 Окна NOBEL от 2900 ₽/м2!
                p до 30.09.21
                button.btn-modal ОСТАВИТЬ ЗАЯВКУ