section.reviews
	.container
		h2 Отзывы
		//- Slider banner-home container
		.reviews__wrapper
			.swiper.reviews__swiper
				//- Additional required wrapper
				.swiper-wrapper.reviews__swiper-wrapper
					.swiper-slide.reviews__swiper-slide
						.reviews__content
							h3 Установка одностворчатого откидного окна
							p “Нам бесплатно сделали замер, потому что окно было не стандартного размера и установили в самые короткие сроки. Работу сдали очень качественную. Спасибо вам!”
						.reviews__personals
							.reviews__img
								img(src="./wp-content/themes/factory_windows/assets/img/user1.jpg", alt="user")
							.reviews__user
								p Анатолий
								p 27лет				
					.swiper-slide.reviews__swiper-slide
						.reviews__content
							h3 Установка балконной двери
							p “Приятное обслуживание и качественная работа, цена приятно порадовала в сравнении с другими компаниями. Спасибо)”
						.reviews__personals
							.reviews__img
								img(src="./wp-content/themes/factory_windows/assets/img/user2.jpg", alt="user")
							.reviews__user
								p Екатерина
								p 23 года				
					.swiper-slide.reviews__swiper-slide
						.reviews__content
							h3 Установка одностворчатого откидного окна
							p “Нам бесплатно сделали замер, потому что окно было не стандартного размера и установили в самые короткие сроки. Работу сдали очень качественную. Спасибо вам!”
						.reviews__personals
							.reviews__img
								img(src="./wp-content/themes/factory_windows/assets/img/user1.jpg", alt="user")
							.reviews__user
								p Анатолий
								p 27лет
			.reviews__buttons
				button.btns.prev Назад
				button.btns.next Посмотреть ещё