<section class="contacts">
    <div class="container">

        <div class="contacts__flex">
            <div class="contacts__BTNS">
                <button class="contacts__BTN">Онлайн-калькулятор</button>
                <button class="contacts__BTN">Бесплатный  замер</button>
            </div>

            <div class="contacts__right ">
                <div class="contacts__work ">
                    <div class="contacts__time ">Ежедневно c 8:30 до 20:00</div>
                    <div class="contacts__call ">+8-499-350-11-01</div>
                </div>

                <div class="contacts__social ">
                    <div class="contacts__social-wrap ">
                        <div class=" "></div>
                        <div class=" "></div>
                        <div class=" "></div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</section>