section.contacts
    .container
        .contacts__flex
            .contacts__BTN
                button Онлайн-калькулятор
                button Бесплатный замер
            .contacts__work
                .contacts__time Ежедневно c 8:30 до 20:00
                .contacts__call +8-499-350-11-01
            .contacts__social
                .contacts__social__wrap        
                    svg(width="28" height="30")
                            use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#viber 1")                    
                    svg(width="30" height="30")
                            use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#vk1")                    
                    svg(width="30" height="30")
                            use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#whatsUpp1")