section.contacts
    .container
        .contacts__flex
            .contacts__BTNS
                button.contacts__BTN Онлайн-калькулятор
                button.contacts__BTN Бесплатный замер
            .contacts__right    
                .contacts__work
                    .contacts__time Ежедневно c 8:30 до 20:00
                    .contacts__call +8-499-350-11-01
                .contacts__social                        
                    svg(width="28" height="30")
                            use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#viber1")                    
                    svg(width="30" height="30")
                            use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#whatsUpp1")                    
                    svg(width="30" height="30")
                            use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#whatsUpp1")