include ./../../bem-blocks/tabs/tabs.pug
.characteristics__wrapper
    img(src="./wp-content/themes/factory_windows/assets/img/nobel.jpg", alt="Трехкамерный профиль Noвel")
    h3 Трехкамерный профиль Noвel
    p Три камеры профиля блокируют уличный шум и повышают теплоизоляцию 