section.banner-about.banner
	.container
		.banner__grid
			.banner__box
				.banner__img
					img(src="./wp-content/themes/factory_windows/assets/img/banner-about.jpg", alt="banner-about")
				a.banner__link(href="")
				.banner__content
					h1 О наших окнах
			.banner__text
				p Компания «Первый оконный завод» занимается производством недорогих пластиковых окон из профиля Noвel. Многофункциональные окна NOBEL ― это качественный оконный профиль, умный стеклопакет и надёжная фурнитура,собранные на немецких автоматизированных линиях. Наши окна долговечны, практичны и просты в эксплуатации. Наше качество и цены проверили тысячи семей! «Заводские окна» – нам доверяют!

				p Нашими заказчиками являются обычные люди - хозяева квартир и загородных домов, а так же крупные организации и госпредприятия. Количество выполненных объектов достигло более 10 000 шт. Инженеры-замерщики компании готовы в любое время выехать на объект в любую точку “города”.