section.banner-home.banner
	.container
		.banner__grid
			.banner__box
				.banner__img
					img(src="./wp-content/themes/factory_windows/assets/img/banner-home.jpg", alt="banner-home")
				a.banner__link(href="")
				.banner__content
					h1 Главный оконный завод
					h2 Нам доверяют