// Базовый контейнер вкладок(табов)
.tabs-box.tabs-windows 
    // Список вкладок
    .tabs
        .tab.tab--active
            span: svg(width="80" height="68")
                use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#nano")
            p Трехкамерный профиль Noвel
        .tab 
            span: svg(width="80" height="68")
                use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#nano")
            p Стеклопакет RS с нано-покрытием
        .tab 
            span: svg(width="80" height="68")
                use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#nano")
            p Стеклопакет RS с нано-покрытием