ul.social
        li: a(href=""): svg(width="35" height="35")
            use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#m-vk")
        li: a(href=""): svg(width="35" height="35")
            use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#m-od") 
        li: a(href=""): svg(width="35" height="35")
            use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#m-instagram")