section.catalog
	.container
		h2 Каталог
		.catalog__box
			.catalog__card
				.catalog__box-img
					img(src="./wp-content/themes/factory_windows/assets/img/window-card.png", alt="Одностворчатое поворотное окно NOBEL Start")
				.catalog__content
					h3 Одностворчатое поворотное окно NOBEL Start
					span однокамерный стеклопакет
					.catalog__options
						.catalog__parametr
							span Высота
							strong 500мм
						.catalog__parametr
							span Профиль
							strong 60мм
						.catalog__parametr
							span Ширина
							strong 700мм						
						.catalog__parametr
							span Цвет
							strong белый
					.catalog__price
						h3 4 430 ₽
						span В наличие 6шт
						button.btn-modal Заказать
			.catalog__card
				.catalog__box-img
					img(src="./wp-content/themes/factory_windows/assets/img/window-card.png", alt="Одностворчатое поворотное окно NOBEL Start")
				.catalog__content
					h3 Одностворчатое поворотное окно NOBEL Start
					span однокамерный стеклопакет
					.catalog__options
						.catalog__parametr
							span Высота
							strong 500мм
						.catalog__parametr
							span Профиль
							strong 60мм
						.catalog__parametr
							span Ширина
							strong 700мм						
						.catalog__parametr
							span Цвет
							strong белый
					.catalog__price
						h3 4 430 ₽
						span В наличие 6шт
						button.btn-modal Заказать
			.catalog__card
				.catalog__card-box-img
					img(src="./wp-content/themes/factory_windows/assets/img/window-card.png", alt="Одностворчатое поворотное окно NOBEL Start")
				.catalog__content
					h3 Одностворчатое поворотное окно NOBEL Start
					span однокамерный стеклопакет
					.catalog__options
						.catalog__parametr
							span Высота
							strong 500мм
						.catalog__parametr
							span Профиль
							strong 60мм
						.catalog__parametr
							span Ширина
							strong 700мм						
						.catalog__parametr
							span Цвет
							strong белый
					.catalog__price
						h3 4 430 ₽
						span В наличие 6шт
						button.btn-modal Заказать
		a(href="#!" target="_blank").btns Посмотреть ещё