.menu-mobile
    .menu-mobile__phone         
        span Ежедневно c 8:30 до 20:00 
        a(href="tel:84993501101") 8(499)350-11-01
    ul.nav-menu 
        li: a.active(href="")
            svg(width="15" height="15")
                use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#main")
            | Главная
        li: a(href="")
            svg(width="15" height="15")
                use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#discount")
            |  Каталог
        li: a(href="")
            svg(width="15" height="15")
                use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#about")
            |  Акции
        li: a(href="")
            svg(width="15" height="15")
                use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#discount")
            |  Рассрочка
        li: a(href="")
            svg(width="15" height="15")
                use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#reviews")
            |  Статьи
        li: a(href="about.html")
            svg(width="15" height="15")
                use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#contact")
            |  О наших окнах   
    include ./../../bem-blocks/socials/socials.pug    