section.firstWindow
    .container
        .firstWindow__flex
            .firstWindow__left
            .firstWindow__right
                img(src="./wp-content/themes/factory_windows/assets/img/discounts.jpg", alt="окна")
                img(src="./../../../img/windowBig1.png",alt="window")
                