    .header {
        padding: 2.3rem 0;
        background-color: black;
        position: relative;
        @include media (xlg) {
            padding: 2.0rem 0;
        }
        &__flex {
            @include flex (space-between, center);
            width: 100%;
        }
        &__logo {
            svg {
                @include wh (100%);
                fill: white;
            }
            @include media (xlg) {
                @include wh (9.9rem, 5.0rem);
            }
        }
        /***** форма поиска ********/
        // .header__form 
        &__form {
            // width: 20.4rem;
            position: relative;
            input {
                width: 20.4rem;
                height: 3.2rem;
                padding-left: 3.5rem;
                background: transparent;
                border: 1px solid #B8B8B8;
                border-radius: 8px;
                color: #B8B8B8;
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                @include media (xlg) {
                    display: none;
                }
            }
            button {
                position: absolute;
                @include pos (absolute, $top: 5px, $right: 2px);
                background: #E34747;
                border-radius: 5px;
                display: block;
                @include wh(7.2rem, 2.4rem);
                transition: all 0.3s;
                @include media (xlg) {
                    display: none;
                }
            }
            &::after {
                @include pseudo;
                @include background(url("../img/icons/search.svg"));
                @include wh(1.4rem);
                @include pos(absolute,
                $top: 1rem, $left: 1rem);
                @include media (xlg) {
                    display: none;
                }
            }
            // &.active {
            //     width: 20.4rem;
            //     height: 3.2rem;
            //     padding-left: 3.5rem;
            //     background: transparent;
            //     border: 1px solid #B8B8B8;
            //     border-radius: 8px;
            //     color: #B8B8B8;
            //     font-family: Source Sans Pro;
            //     font-style: normal;
            //     font-weight: normal;
            //     font-size: 16px;
            //     line-height: 20px;
            //     &::after {
            //         @include pos(absolute,
            //         $top: 7px, $left: 11px);
            //     }
            //     button {
            //         position: absolute;
            //         @include pos (absolute,
            //         $top: 5px, $right: 2px);
            //         background: #E34747;
            //         border-radius: 5px;
            //         display: block;
            //         @include wh(7.2rem,
            //         2.4rem);
            //         transition: all 0.3s;
            //     }
            // }
        }
        &__burger {
            position: relative;
            @include media (xlg) {
                display: none;
            }
        }
    }
    
    // Гамбургер
    .cmn-toggle-switch.active {
        // padding: 0.7rem 1rem;
        border-radius: 5px;
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
    .cmn-toggle-switch {
        @include wh(1.5rem,
        1.3rem);
        z-index: 6000;
        display: block;
        margin: 0;
        padding: 0;
        font-size: 0;
        appearance: none;
        box-shadow: none;
        border: none;
        cursor: pointer;
        transition: background 0.3s ease-out;
        position: relative;
        &:focus {
            outline: none;
        }
        span {
            @include wh(1.5rem,
            0.2rem);
            position: relative;
            margin: auto;
            display: block;
            &::before,
            &::after {
                @include pseudo;
                @include pos (absolute,
                $left: 0);
                @include wh (100%,
                0.2rem);
                background-color: #ffffff;
            }
            &::before {
                top: 0.5rem;
            }
            &::after {
                bottom: 0.5rem;
            }
        }
        // .cmn-toggle-switch__htx
        &__htx {
            background-color: transparent;
            transition: all 1s ease-out;
            span {
                background-color: #ffffff;
                transition: background 0.3s ease-out;
                &::before,
                &::after {
                    transition-duration: 0.3s, 0.3s;
                }
                &::before {
                    transition-property: top, transform;
                }
                &::after {
                    transition-property: bottom, transform;
                }
            }
        }
        .cmn-toggle-switch__htx.active {
            position: absolute;
            z-index: 8000;
            width: 4.7rem;
            height: 4.7rem;
            span {
                background: none;
                width: 3rem;
                right: 0.5rem;
                &::before,
                &::after {
                    transition-delay: 0.3s;
                }
                &::before {
                    top: 0;
                    transform: rotate(45deg);
                }
                &::after {
                    bottom: 0;
                    transform: rotate(-45deg);
                }
            }
        }
    }