header.header 
    .container  
        .header__flex 
            a(href="").header__logo
                svg(width="63" height="32")
                    use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#logo")
                
//- header.header
//-     .container
//-         .header__flex
//-             a(href="/").header__logo
//-                 svg(width="66" height="16")
//-                     use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#logo")
//-             include ./../../bem-blocks/menu/menu-top.pug            
//-             form#form.header__form
//-                 input._req(type="text" value="" placeholder="")
//-                 button#formBtn(type="button")
//-                     svg(width="15" height="15")
//-                         use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#enter")
//-             .header__burger
//-                 button#menu__button.cmn-toggle-switch.cmn-toggle-switch__htx
//-                     span.toggle.menu
//-                 include ./../../bem-blocks/menu/menu-mobile.pug

                    



    