.svg-txt
	.svg-txt__block
		.svg-txt__block-svg
			svg(width="35" height="35")
				use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#top")
		.svg-txt__content
			h4 Топ 5
			p Входим в пятёрку крупнейших предприятий России в отрасли
	.svg-txt__block
		.svg-txt__block-svg
			svg(width="35" height="35")
				use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#office-building")
		.svg-txt__content
			h4 Производство
			p Производим пластиковые окна с 2003 года на автоматизированных линиях из Германии
	.svg-txt__block
		.svg-txt__block-svg
			svg(width="35" height="35")
				use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#pay")
		.svg-txt__content
			h4 Оплата
			p Предлагаем заказать окна онлайн c бесплатной доставкой