section.feedback
	.container
		.feedback__content
			h2 Помогите нам стать лучше
			p Вы можете оставить отзыв о нашем сайте
				br
				| или задать вопрос, чтобы мы могли лучше работать для вас
			form.feedback__form
				label
					input._req(type="text" value="" placeholder="Я считаю...")
				button.btn Отправить