extends ./../layouts/main

block variables
    - let pageTitle = 'okna';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        //- include ./../components/sections/banner-home/banner-about.pug        
        //- О наших окнах
        //- include ./../components/sections/about/about.pug
        //- Наши принципы
        //- include ./../components/sections/principles/principles.pug
        //- Каталог
        //- include ./../components/sections/features-windows/features-windows.pug        
        //- Отзывы
        //- include ./../components/sections/reviews/reviews.pug
        //- Отзыв
        //- include ./../components/sections/feedback/feedback.pug
        //- include ./../components/sections/footer/footer.pug