extends ./../layouts/main

block variables
    - let pageTitle = 'okna';

block content
    .wrap-feedback
    .wrapper
        include ./../components/sections/header/header.pug
        include ./../components/sections/contacts/contacts.pug
        include ./../components/sections/first-window/firstWindow.pug
        //- include ./../components/sections/banner-home/banner-home.pug
        //- //- Почему мы
        //- include ./../components/sections/why-we/why-we.pug
        //- //- Рекордная скидка
        //- include ./../components/sections/discounts/discounts.pug
        //- //- О наших окнах
        //- include ./../components/sections/about/about.pug
        //- //- Наши принципы
        //- include ./../components/sections/principles/principles.pug
        //- //- Каталог
        //- include ./../components/sections/catalog/catalog.pug
        //- //- замер
        //- include ./../components/sections/measuring/measuring.pug
        //- //- Отзывы
        //- include ./../components/sections/reviews/reviews.pug
        //- //- Отзыв
        //- include ./../components/sections/feedback/feedback.pug
        //- include ./../components/sections/footer/footer.pug