.accordion
    div.active
        h3 Title
        p.active
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
    div
        h3 Title
        p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
    div
        h3 Title
        p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, similique.