section.features-windows
    .container 
        h2 Особенности окон
        include ./../../bem-blocks/characteristics/characteristics.pug
        include ./../../bem-blocks/characteristics/characteristics.pug
        h2 Premium