section.about
	.container
		h2 О наших окнах
		.about__grid
			.about__content
				p Мы разработали многофункциональные пластиковые окна - NOBEL
				p
					strong NOBEL
					| - это Ваш комфорт и красота интерьера с оптимальным соотношением цены и качества
				.about__svg-txt.svg-txt
					.svg-txt__block
						.svg-txt__block-svg
							svg(width="50" height="50")
								use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#window1")
						.svg-txt__content
							h4 Уплотнитель
							p Светло-серый уплотнитель по периметру стекла не бросается в глаза, как чёрный, и на нем меньше видна пыль
					.svg-txt__block
						.svg-txt__block-svg
							svg(width="50" height="50")
								use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#window2")
						.svg-txt__content
							h4 Пятикамерный профиль NOBEL PREMIUM
							p За счёт собственного производства и службы логистики
					.svg-txt__block
						.svg-txt__block-svg
							svg(width="50" height="50")
								use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#window3")
						.svg-txt__content
							h4 Стеклопакет с нанопокрытием
							p Защищает от вредных солнечных лучей, сохраняет прохладу летом и тепло зимой
			.about__button
				button.btn Собрать окно
				a.btns(href="") Больше информации			
			.about__box-img
				img(src="./wp-content/themes/factory_windows/assets/img/window.jpg", alt="windows")