section.principles
	.container
		h2 Наши принципы
		.principles__flex
			.principles__box-img
				img(src="./wp-content/themes/factory_windows/assets/img/principles.jpg", alt="windows")
			.principles__box-content
				h3 Для нас важно, чтобы клиент остался удовлетворен полученной работой
				.svg-txt
					.svg-txt__block
						.svg-txt__block-svg
							svg(width="33" height="34")
								use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#best-price")
						.svg-txt__content
							h4 Низкие цены
							p За счёт собственного производства и службы логистики
					.svg-txt__block
						.svg-txt__block-svg
							svg(width="34" height="34")
								use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/		sprite.svg#guarantee")
						.svg-txt__content
							h4 Гарантия 10 лет
							p Подтверждается сертификатами и паспортом окна
					.svg-txt__block
						.svg-txt__block-svg
							svg(width="35" height="35")
								use(xlink:href="./wp-content/themes/factory_windows/assets/img/icons/sprite.svg#pay")
						.svg-txt__content
							h4 Забота о клиентах
							p 24 месяца бесплатного сервисного обслуживания